/**
 * FreeWebKanban
 * FreeWebKanban © 2021 Anderson Bucchianico. All rights reserved.
*/

@font-face {
    font-family: CraftyGirls;
    src: url('./fonts/crafty-girls/CraftyGirls.ttf');
}

:root {
    --sticky-color-yellow: #FEF4A1;
    --sticky-color-red: #FEC8C8;
    --sticky-color-green: #b3fea4;
    --sticky-color-blue: #aef3f3;
    --sticky-color-purple: #b7c9fd;
    --sticky-color-grey: #EEEEEE;
}

html {
}

body {
    padding: 0;
    margin: 0;
}