section {
    display: flex;
    align-items: flex-end;
}

div.stickynote-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 0 10px 3px var(--global-shadow);
    border-radius: 0 10rem 0 0;
    padding: 20px;
    pointer-events: all;
    background: var(--interface-background);
    align-items: flex-end;
}

.stickynote-stack {
    cursor: grab;
    box-shadow: -3px 4px 5px 2px var(--global-shadow);
    transform: rotate(-2deg);
    width: 180px;
    height: 130px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin: auto;
    padding: 3px;
    transition: 0.33s;
    user-select: none;
}
.stickynote-stack:hover {
    transform: scale(1.1) !important;
    transition: 0.33s;
}
.stickynoteStack-empty {
    background-color: transparent !important;
    box-shadow: none;
    color: transparent;
    border: 3px dashed #adadad;
}

.option-buttons {
    display: flex;
    background: var(--interface-background);
    box-shadow: 5px 0px 5px 1px var(--global-shadow);
    padding: 15px;
    border-radius: 0px 30px 0px 0px;
    position: relative;
    left: -8px;
}

.option-buttons > button {
    width: 30px;
    height: 30px;
    border: none;
    margin: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.selected {
    border: 3px solid var(--interface-background);
    border-radius: 3px;
}

button:hover {
    border: 2px solid var(--interface-background);
    border-radius: 3px;
}

.color-button:nth-child(1) {
    background-color: var(--sticky-color-yellow);
}
.color-button:nth-child(2) {
    background-color: var(--sticky-color-red);
}
.color-button:nth-child(3) {
    background-color: var(--sticky-color-green);
}
.color-button:nth-child(4) {
    background-color: var(--sticky-color-blue);
}
.color-button:nth-child(5) {
    background-color: var(--sticky-color-purple);
}
.color-button:nth-child(6) {
    background-color: var(--sticky-color-grey);
}