* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

ul.column-list {
    display: flex;
    min-height: 512px;
}

li.column-item {
    min-width: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    row-gap: 20px;
    padding: 0;
    border-right: 2px solid #9a9a9a;
    margin: 0 0 0 25px;
    padding-right: 25px;
}

li.column-item:last-child {
    border: none;
    
}
li.column-item:first-child {
    margin: 0;
    padding-right: 25px;    
}

div.column-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #9a9a9a;
    padding-bottom: 5px;
    height: 32px;
    column-gap: 5px;
}

div.column-header:hover > button {
    display: flex;
}

h3 {
    background: transparent;
    color: var(--global-font-color);
    align-items: flex-end;
    display: flex;
    width: -webkit-fill-available;
    border: 1px solid transparent;
}
h3:hover {
    border: dotted 1px black;
}

button.column-header-button {
    width: 30px;
    max-height: 30px;
    display: none;
    border: 1px solid red;
    background: url(/images/recyclebin.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80%;
    border-radius: 5px;
    cursor: pointer;
}

ul.sticker-list {
    width: 200px;
    height: -webkit-fill-available;
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

li.sticker-item {
    min-height: 150px;
}

.slot {
    border: dashed 3px var(--terciary-color) !important;
    background-image: url('/images/addSticker.svg');
    background-position: center;
    background-repeat: no-repeat;
}