* {
    padding: 0;
    margin: 0;
}

ul {
    list-style-type: none;
}

ul.column-list {
    display: flex;
    min-height: 512px;
    max-height: calc(100vh - 56px); /*50px from header + 1rem's of vertical padding*/
    padding: 1rem 3% 0 1rem;
}

li.column-item {
    min-width: 228px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    border-right: 2px solid #9a9a9a;
}

li.column-item:last-child {
    border: none;
}
li.column-item.slot:last-child {
    margin-left: 25px;
}

div.column-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #9a9a9a;
    padding-bottom: 5px;
    max-height: 32px;
    width: 85%;
    column-gap: 5px;
}

li.column-item:hover > div > button {
    display: initial;
}

input.column-title {
    font-size: 12pt;
    background: transparent;
    color: var(--global-font-color);
    align-items: flex-end;
    display: flex;
    border: none;
    height: 30px;
    width: inherit;
}

.column-header-button {
    display: none;
    height: 28px;
    width: 28px;
    border: 1px solid var(--global-font-color);
    filter: contrast(0);
    background: url(/KanbanWeb/images/recyclebin.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
    border-radius: 5px;
    cursor: pointer;
}

ul.sticker-list {
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    border: none;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    padding: 10px 25px 10rem 25px;
    overflow-y: scroll;
    overflow-x: hidden;
}
ul.sticker-list::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

li.sticker-item {
    min-height: 125px;
}

.slot {
    border: dashed 3px var(--terciary-color) !important;
    background-image: url('/KanbanWeb/images/addSticker.svg');
    background-position: center;
    background-repeat: no-repeat;
}