section#recyclebin-container {
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate-reverse;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    box-shadow: inset 0 0 4px 3px #f73333;
    display: none;
    pointer-events: all;
}

section#recyclebin-container > img {
    width: 80px;
    pointer-events: none;
}

@keyframes sparkling {
    0% {
        box-shadow: inset 0 0 4px 3px #f73333;
    }
    100% {
        box-shadow: inset 0 0 16px 9px #f73333
    }
} 