.option-buttons {
    background-color: var(--opaque-backgorund);
    padding: 12px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;
}

section.button-group {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
}
button.editor-action:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
button.editor-action {
    height: 28px;
    width: 28px;
    border: 1px solid var(--global-border);
    color: var(--global-font-color);
    background-color: var(--button-background);
    border-right: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 7px 7px;
}
.editor-action:hover {
    background-color: var(--button-background-hover);
}
button.editor-action:last-child {
    border-right: solid 1px var(--global-border) ;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
button.editor-action:disabled {
    cursor: default;
}

button.editor-action[value='bold']::after {
    font-weight: bold;
    content: "B";
}
button.editor-action[value='italic']::after {
    font-style: italic;
    content: "I";
}
button.editor-action[value='underline']::after {
    text-decoration: underline;
    content: "U";
}
button.editor-action[value='strikeThrough']::after {
    text-decoration: line-through;
    content: "S";
}

button.editor-action[value='foreColor']::after {
    text-decoration: underline;
    content: "A";
}

button.editor-action[value='backColor']::after {
    background-color: #A7A7A7;
    padding: 2px;
    color: white;
    content: "A";
}

button.editor-action > ul {
    list-style-position: inside;
    font-size: 7px;
}

button.editor-action > ol {
    list-style-position: inside;
    font-size: 7px;
}

.multioption-container {
    color: var(--global-font-color);
    font-size: 13px;
    border-radius: 5px;
    font-family: sans-serif;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selection-button {
    color: inherit;
    justify-content: space-between;
    background-color: var(--button-background);
    border: 1px solid var(--global-border);
    border-radius: inherit;
    display: flex;
    align-items: center;
    min-width: 120px;
    width: 100%;
    height: 100%;
    max-height: 32px;
    overflow: hidden;
    cursor: pointer;
}
.selection-button:hover {
    background-color: var(--button-background-hover);
}
.selection-button::after {
    font-size: 9px;
    line-height: normal;
    content: "▼";
}
.selection-list {
    display: none;
    position: absolute;
    top: 32px;
    left: -1px;
    background-color: white;
    border: 1px solid #D8DDE6;
    border-radius: 0px 5px 5px 5px;
    padding: 5px 0px;
    min-width: 64px;
    width: fit-content;
    max-height: calc(25px * 6);
    overflow: auto;
    flex-wrap: wrap;
}

ul::before {
    height: 10px;
    width: 10px;
    background: white;
    position: absolute;
    transform: translate(28px, -6px) rotate(45deg);
    border-left: 1px solid #d8dde6;
    border-top: 1px solid #d8dde6;
    content: "";
}
