* {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background: #fdfdfd;
    color: #333;
    height: 30px;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 4px 0px #c1c1c1;
}
nav {
    display: flex;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    min-width: 50%;
}
ul {
    display: flex;
    column-gap: 2rem;
}

h1 {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16pt;
    user-select: none;
}
h2 {
    font-size: 14pt;
    font-weight: normal;
    text-align: center;
    min-width: 50px;
    padding: 5px 10px;
    border-radius: 10px;
}
h2:hover {
    border: dotted 1px black;
}

.version {
    font-size: 9pt;
    height: 30px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

.options-container {
    display: flex;
    column-gap: 10px;
}

section.board-container {
    padding: 1rem 85px;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2rem);
    position: fixed;
    bottom: 0;
    pointer-events: none;
    z-index: 200;
}