* {
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    background: var(--interface-background);
    color: var(--global-font-color);
    height: 30px;
    padding: 10px 20px;
    box-shadow: 0 2px 4px 0px var(--global-shadow);
}
.header-node {
    display: flex;
    column-gap: 2rem;
    width: -webkit-fill-available;
    width: -moz-available;
}
.header-node:last-child {
    justify-content: flex-end;
}

h1 {
    display: flex;
    align-items: center;
    font-weight: normal;
    font-size: 16pt;
    user-select: none;
}

div.extra-info-container {
    display: none;
}
span.extra-info {
    font-size: 12px;
}

input[type='text'] {
    color: var(--global-font-color);
    font-size: 12pt;
    font-weight: normal;
    text-align: center;
    background-color: transparent;
    border: none;
    min-width: 50px;
    padding: 5px 10px;
    width: 100%;
}

section.board-container {
    padding: 1rem 5%;
    overflow: auto;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 2rem);
    position: fixed;
    bottom: 0;
    pointer-events: none;
    z-index: 200;
}

/* Mobile =================================================================== */

@media (max-width: 480px) {

    header {
        justify-content: space-between;
    }

    nav.header-node {
        display: none;
    }

    input[type='text'] {
        text-align: initial;
    }

    .header-node {
        width: max-content;
        flex-grow: 1;
    }
}