section {
    display: flex;
    align-items: flex-end;
}

div.control-panel-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    box-shadow: 0 0 10px 3px var(--global-shadow);
    border-radius: 0 10rem 0 0;
    padding: 20px;
    pointer-events: all;
    background: var(--interface-background);
    align-items: flex-end;
    z-index: 200;
}

div.stickynote-back {
    content: '';
    height: 70px;
    width: 90px;
    background: #e9e088;
    position: absolute;
    transform: rotate(-15deg);
    box-shadow: -3px 4px 5px 2px var(--global-shadow);
}
.stickynote-stack {
    cursor: grab;
    box-shadow: -3px 4px 5px 2px var(--global-shadow);
    transform: rotate(-5deg);
    width: 90px;
    height: 70px;
    display: grid;
    transition: 0.33s;
    user-select: none;
    font-size: 5pt;
    row-gap: 6px;
    color: var(--global-font);
    align-content: center;
    justify-content: center;
}
.stickynote-stack:hover {
    transform: scale(1.1) !important;
    transition: 0.33s;
}
.stickynote-stack-empty {
    background-color: transparent !important;
    box-shadow: none;
    color: transparent;
    border: 3px dashed #adadad;
    width: calc(90px - 6px);
    height: calc(70px - 6px);
}

.option-buttons {
    display: flex;
    column-gap: 2px;
    background: var(--interface-background);
    box-shadow: 5px 0px 5px 1px var(--global-shadow);
    padding: 10px 15px;
    border-radius: 0px 60px 0px 0px;
    position: relative;
    left: -8px;

    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-direction: normal;
}

.option-buttons > button {
    width: 26px;
    height: 26px;
    border: none;
    margin: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

button.selected {
    border: 3px solid var(--interface-background);
    border-radius: 3px;
}

button:hover {
    border: 2px solid var(--interface-background);
    border-radius: 3px;
}

.color-button:nth-child(1) {
    background-color: var(--sticky-color-yellow);
}
.color-button:nth-child(2) {
    background-color: var(--sticky-color-red);
}
.color-button:nth-child(3) {
    background-color: var(--sticky-color-green);
}
.color-button:nth-child(4) {
    background-color: var(--sticky-color-blue);
}
.color-button:nth-child(5) {
    background-color: var(--sticky-color-purple);
}
.color-button:nth-child(6) {
    background-color: var(--sticky-color-grey);
}

@keyframes retract-button-options {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-200px);
    }
}
@keyframes expand-button-options {
    0% {
        transform: translateX(-200px);
    }
    100% {
        transform: translateX(0px);
    }
} 

@media (max-width: 480px) {

    div.control-panel-container {
        border-radius: 65px 65px 0 0;
        padding: 15px;
        height: 90px;
    }

    .option-buttons {
        display: none;
    }
}