.stickynote-content {
    box-shadow: -3px 4px 5px 2px var(--global-shadow);
    width: 190px;
    height: 120px;
    font-size: 20px;
    z-index: 100;
    transition: 0.33s;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: grab;
}

.stickynote-content[hoverEffect = true]:hover {
    transform: scale(1.1) !important;
}

.stickynote-content > textarea {
    cursor: grab;
}

.stickynote-content-expanded {
    z-index: 301;
    box-shadow: 0 0 6px 4px var(--global-shadow);
    width: 75%;
    height: 80%;
    flex-direction: column;
    position: absolute;
    left: 12.5%;
    top: 10%;
    cursor: initial;
    transform: none !important;
}
.stickynote-content-expanded > span {
    display: none;
}
.stickynote-content-expanded > input[type="text"] {
    display: unset;
}
.stickynote-content-expanded > article {
    overflow: auto;
    display: unset;
}

.stickynote-content-expanded > div {
    display: flex;
}

span {
    width: inherit;
    padding: 1rem;
}

input[type="text"]::placeholder {
    color: #444444;
    filter: opacity(0.50);
}
input[type="text"] {
    display: none;
    border: none;
    height: 60px;
    padding: 5px 1rem;
    width: -webkit-fill-available;
    background: var(--transparent-backgorund);
    color: #444444;
    font-size: 18pt;
}

article {
    background: no-repeat;
    display: none;
    border: none;
    resize: none;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding: 1rem;
    outline: none;
    text-align: start;
} 

.dark-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    transition: 0.33s;
    backdrop-filter: blur(0px) brightness(1.0);
}

.background-blur {
    backdrop-filter: var(--global-background-brightness);
}

comp-stickynote-options {
    width: 100%;
}

/* Mobile =================================================================== */

@media (max-width: 480px) {
    .stickynote-content-expanded {
        width: 100%;
        left: 0;
    }
}