comp-stickynote {
    width: 100%;
    display: flex;
}

.stickynote-content {
    box-shadow: -3px 4px 5px 2px var(--global-shadow);
    width: 190px;
    height: 130px;
    font-size: 20px;
    z-index: 100;
    transition: 0.33s;
    display: flex;
    align-items: center;
    text-align: center;
    overflow: hidden;
    cursor: grab;
}

.stickynote-content[hoverEffect = true]:hover {
    transform: scale(1.1) !important;
}

.stickynote-content > textarea {
    cursor: grab;
}

.stickynote-content-expanded {
    z-index: 301;
    box-shadow: 0 0 6px 4px var(--global-shadow);
    width: 66.66%;
    height: 66.66%;
    flex-direction: column;
    position: absolute;
    cursor: initial;
}
.stickynote-content-expanded > textarea {
    cursor: initial;
}

.stickynote-content-expanded > div {
    display: flex;
}

article {
    background: no-repeat;
    border: none;
    resize: none;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding: 2rem;
    outline: none;
}

.dark-background {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 300;
    transition: 0.33s;
    backdrop-filter: blur(0px) brightness(1.0);
}

.background-blur {
    backdrop-filter: var(--global-background-brightness);
}

comp-stickynote-options {
    width: 100%;
}