ul::before {
    height: 10px;
    width: 10px;
    background: var(--interface-background);
    position: absolute;
    transform: translate(28px, -12px) rotate(45deg);
    border-left: 1px solid var(--global-border);
    border-top: 1px solid var(--global-border);
    content: "";
}
ul.color-list {
    list-style-type: none;
    display: flex;
    border: 1px solid var(--global-border);
    border-radius: 5px;
    position: fixed;
    top: 36px;
    transform: translateX(-55px);
    background: var(--interface-background);
    padding: 5px;
    column-gap: 2px;
    row-gap: 2px;
    width: 66px;
    flex-wrap: wrap;
    z-index: 9999;
}

div.color-list-background {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.color-list > li {
    width: 32px;
    height: 32px;
    cursor: pointer;
    user-select: none;
}

ul.text-list {
    display: grid;
    position: absolute;
    background-color: var(--interface-background);
    border-radius: .25rem;
    border: 1px solid var(--global-border);
    width: 118px;
    max-height: 256px;
    overflow: auto;
    top: 20px;
    padding: 0;
    z-index: 9999;
    left: 0;
}

.text-list > li {
    padding: 10px;
    cursor: pointer;
    user-select: none;
    display: flex;
    text-align: initial;
}

.text-list > li:nth-child(even) {
    background-color: var(--button-background);
}

.text-list > li:hover {
    background-color: var(--global-background-color);
}