comp-stickystack {
    display: flex;
}

section {
    display: flex;
    row-gap: 10px;
    width: 300px;
    justify-content: space-between;
    align-content: center;
    box-shadow: 2px -5px 4px 3px #cccccc;
    border-radius: 0 10rem 0 0;
    padding: 10px;
}

.stickynote-stack {
    cursor: grab;
    background-color: #fef4a1;
    box-shadow: -3px 4px 5px 2px #797979;
    transform: rotate(358deg);
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: CraftyGirls, cursive;
    font-size: 20px;
    margin: auto;
}

.stickystack-empty {
    background-color: transparent;
    box-shadow: none;
    color: transparent;
    border: 3px dashed #adadad;
}

.option-buttons {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.option-buttons > button {
    width: 32px;
    height: 32px;
    border: none;
    margin: 1px;
    cursor: pointer;
}

button.selected {
    border: 3px solid #005aff;
    border-radius: 3px;
}

.color-button:nth-child(1) {
    background-color: #FEF4A1;
}
.color-button:nth-child(2) {
    background-color: #FEC8C8;
}
.color-button:nth-child(3) {
    background-color: #b3fea4;
}
.color-button:nth-child(4) {
    background-color: #aef3f3;
}
.color-button:nth-child(5) {
    background-color: #b7c9fd;
}
.color-button:nth-child(6) {
    background-color: #EEEEEE;
}

.text-button:nth-child(1) {
    font-family: cursive;
}
.text-button:nth-child(2) {
    font-family: fantasy;
}
.text-button:nth-child(3) {
    font-family: monospace;
}
.text-button:nth-child(4) {
    font-family: sans-serif;
}
.text-button:nth-child(5) {
    font-family: 'CraftyGirls';
}
.text-button:nth-child(6) {
    font-family: serif;
}